# macOS
.DS_Store

# Windows
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Android / IntelliJ
.idea/
.gradle/
.kotlin/
.cxx/
*.iml
*.hprof
local.properties
*.keystore
!debug.keystore

android/.gradle/
android/app/build/
android/build/

# Android APK / AAB
*.apk
*.aab

# iOS / Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# CocoaPods
**/Pods/
vendor/bundle/

# Metro
.metro-health-check*
# Metro cache
.metro/
# Bundle output
*.jsbundle

# React Native logs
react-native.log

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Coverage
coverage/

# Expo (if used)
.expo/
.expo-shared/

# Temporary files
tmp/
temp/

# Ruby Bundler
.bundle/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log

# npm cache
.npm/

# React Native generated
android/app/.cxx/

# Crashlytics / Firebase (if you use them later)
firebase-debug.log

# Misc
*.orig